.sidebar {
    height: 100vh;
    background-color: rgba(18, 18, 19, 1);
    color: #fff;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px 40px; /* Aumenta el espacio alrededor de cada opción */
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente el icono y el texto */
}

li:hover {
    background-color: rgba(225, 225, 225, 0.05);
}

.logo {
    color: white;
}

.logo__name {
    font-weight: 100;
}

.logo__bold {
    font-weight: bold;
}

.sidebar-icon {
    margin-right: 10px; /* Aumenta el espacio entre el icono y el texto */
    font-size: 20px; /* Ajusta el tamaño del icono */
}

li {
    font-size: 18px; /* Ajusta el tamaño del texto de las opciones */
}
