html {
  box-sizing: border-box;
  font-size: 85%;
}

*,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f262a;
}

.appColumns {
  display: grid;
  grid-template-columns: 20% 80%;
}

.content {
  margin: 0;
}